<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../css1/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<title>Nuevo Jurado</title>
</head>
<body>
	<nav>
		<label class="logo">SISCODANCE</label>
		<ul>
			<li><a class="active" th:href="@{/menu}">INICIO</a></li>
			<!--  <li><a class="dropdown-item" th:href="@{/jurados/listarTodo}">TUTOR</a></li>  -->
			<li><a href="#">JURADO</a></li>
			<li><a href="#">EVALUACION</a></li>
			<li><a href="#">INSCRIPCION</a></li>
		</ul>
		<label id="icon"><i class="fas fa-bars"></i></label>
	</nav>
	<section>
		<p>Mostrando Datos del Nuevo Jurado</p>
		<div class="container">
			<form th:action="@{/jurados/guardar}" th:object="${jurado}"
				class="was-validated" method="post">
				<div class="invalid-feedback">*</div>
				<input type="text" class="form-control" id="nomjurado"
					placeholder="Ingrese Nombre" th:field="*{nomjurado}" name="uname"
					required>
				<div class="valid-feedback"></div>
				<div class="invalid-feedback">*</div>
				<input type="text" class="form-control" id="apepatjurado"
					placeholder="Ingrese Apellido Paterno" th:field="*{apepatjurado}"
					name="uname" required>
				<div class="valid-feedback"></div>
				<div class="invalid-feedback">*</div>
				<input type="text" class="form-control" id="apematjurado"
					placeholder="Ingrese Apellido Materno" th:field="*{apematjurado}"
					name="uname" required>
				<div class="valid-feedback"></div>
				<div class="invalid-feedback">*</div>
				<input type="text" class="form-control" id="dnijurado"
					placeholder="Ingrese Dni" th:field="*{dnijurado}" name="uname"
					required>
				<div class="valid-feedback"></div>
				<div class="invalid-feedback">*</div>
				<input type="text" class="form-control" id="telefono"
					placeholder="Ingrese Telefono" th:field="*{telefono}"
					name="uname" required>
				<div class="valid-feedback"></div>
				<div class="invalid-feedback">*</div>
				<input type="text" class="form-control" id="nombreusuario"
					placeholder="Ingrese Usuario" th:field="*{nombreusuario}"
					name="uname" required>
				<div class="valid-feedback"></div>
				<br>
				<button type="submit" class="btn btn-success">Guardar</button>
			</form>
		</div>
	</section>
</body>
</html>